<button mat-raised-button (click)="deleteNoteBoard()" [disabled]="isDeleteBtnDisabled()" style="margin: 20px;">Delete</button>
<table mat-table [dataSource]="noteBoardDataArray" class="mat-elevation-z8">
    <ng-container matColumnDef="timestamp_without_timezone">
        <th style="padding-left:0px; width:31%;" mat-header-cell *matHeaderCellDef>
            <mat-checkbox [disabled]="noteBoardDataArray.length===0" [checked]="allComplete" [indeterminate]="someComplete()" (change)="setAll($event.checked)"></mat-checkbox>
            Time
        </th>
        <td mat-cell *matCellDef="let element"> {{element.timestamp_without_timezone}} </td>
    </ng-container>
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
</table>


<mat-accordion *ngFor="let noteBoardData of noteBoardDataArray">
    <mat-expansion-panel hideToggle [expanded]="noteBoardData.expanded" (opened)="noteBoardData.expanded = true" (closed)="noteBoardData.expanded = false">
        <mat-expansion-panel-header style="padding-left:0px;">
            <mat-panel-title>
                <mat-checkbox [(ngModel)]="noteBoardData.checkToDelete" (change)="checkBoxClick(noteBoardData)"></mat-checkbox>
                {{noteBoardData.timestamp_without_timezone}}
            </mat-panel-title>
            <mat-panel-description>
                {{noteBoardData.title}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{noteBoardData.content}}</p>
    </mat-expansion-panel>
</mat-accordion>